@charset "utf-8";
/* CSS Document */
.body{
	width:980px;
}
.hr{
	background-color:#e5e5e5;
	width:980px;
	height:1px;
}
.li{
	float:left;
	font-size:12px;
}
.li2{
	float:left;
	font-size:12px;
}
a:link {
	color: #0088cc;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.table {
	border:0px;
	margin-top:18px;
}
.td{
	background-color: #737373;
	height:35px;
	width:100px;
	border-right:solid;
	border-right-color:#555555;
	border-right-width:1px;
}
