<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.servlet.CartServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/servlet/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/servlet/CartServlet</url-pattern>
  </servlet-mapping>	
  
   <servlet>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class>com.demo.servlet.ValidateCodeServlet</servlet-class>
    <init-param>
      <param-name>width</param-name>
      <param-value>200</param-value>
    </init-param>
    <init-param>
      <param-name>height</param-name>
      <param-value>80</param-value>
    </init-param>
    <init-param>
      <param-name>codeCount</param-name>
      <param-value>4</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>ProcessServlet</servlet-name>
    <servlet-class>com.demo.servlet.ProcessServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/servlet/ValidateCodeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ProcessServlet</servlet-name>
    <url-pattern>/servlet/ProcessServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>shopping.jsp</welcome-file>
  </welcome-file-list>
</web-app>
